<div class="wrapper">

  <h1>Stupid coaching</h1>
  <div class="question">
    <%= @question %>
    <p><i> - you </i></p>
  </div>

  <div class="answer">
    <%= @answer %>
    <p><i> - your coach </i></p>
  </div>

  <%= link_to "Ask a new question", ask_path %>

</div>

