
<div class="wrapper">
  <h1>Stupid coaching</h1>

  <div class="container">
    <p>Ask your coach anything</p>
    <div class="row text-center">
      <form action="/answer" class="form-inline" method="get">
        <input type="text" class="form-inline" name="question" placeholder="Ask a question?">
        <button type="submit" class="btn btn-primary margin-left">Submit</button>
       </form>
    </div>
  </div>

</div>
